h1
{
    color: rgb(26, 25, 24);
}
body
{
    background-color: rgb(20, 20, 20);
}
#carte
{
    width: 800px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    align-content: center;
}